# We run programs here before xstart

# Read the Xresources file if it exists.
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

# Load the best monitor profile available
[[ -f /usr/bin/autorandr ]] && /usr/bin/autorandr --change --default default &

# Autostart some daemons
autostart="clipmenud dunst unclutter"

for program in $autostart; do
	pidof -s "$program" || "$program" &
done >/dev/null 2>&1

# Launch the screen locker
[[ -f /usr/bin/slock ]] && \
    xautolock -time 09 -locker "slock" -detectsleep -secure -corners 0-00 -cornerdelay 3 -cornerredelay 20 &
